
.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
    @include respond-width($w-s){
      display: none;
    }
}

.cursor-dot {
    $size: 10px;
    width: $size;
    height: $size;
    background-color: $black;
}

.cursor-dot-outline {
    $size: 40px;
    width: $size;
    height: $size;
    border: 1px solid $black;
    // background-color: rgba($black, 0.3);
}
