#firstAnimationOverlay{

  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  right: 0px;
  height: 100vh;
  background: $black;
  z-index: 99;
  pointer-events: none;
  transition: linear opacity 0.5s;
  &.hide{
    z-index: -1;
    opacity: 0;
    #container,
    .cursor-dot{
      opacity: 0;
      transition: ease opacity 0.1s;
    }
  }

  .cursor-dot {
    position: fixed;
    top: 50%;
    transform: translate( 0  , -50%) scale(0);
    right: 0px;
    left: 0px;
    margin: 0px auto;
    background-color: $white;
    opacity: 1;
    animation: dotin 1s forwards;
    // animation-delay: 0.5s;
  }

  #container {
    position: absolute;
    top: 50%;
    transform: translate( 0  , -50%);
    right: 0px;
    left: 0px;
    margin: 0px auto;
    width: 40px;
    height: 40px;

    // border: solid red 1px;
  }

  #halfclip {
    width: 50%;
    height: 100%;
    right: 0px;
    position: absolute;
    overflow: hidden;
    transform-origin: left center;
    animation: cliprotate 1s ease 1;
    transform: rotate(180deg);
  }


  .halfcircle {
    box-sizing: border-box;
    height: 100%;
    right: 0px;
    position: absolute;
    border: solid 1px transparent;
    border-top-color: $white;
    border-left-color: $white;
    border-radius: 50%;
  }

  #clipped {
    width: 200%;
    transform: rotate(-45deg);
    transform: rotate(135deg);
    animation: rotate 0.5s linear 2;
  }

  #fixed {
    width: 100%;
    transform: rotate(135deg);
    animation: showfixed 1s 1;
  }

}

@keyframes dotin {
  0% {transform:  translate( 0  , -50%) scale(0);}
  100% {transform:  translate( 0  , -50%) scale(1);}
}

@keyframes cliprotate {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(0deg);}
  50.01% {transform: rotate(180deg);}
  100% {transform: rotate(180deg);}
}

@keyframes rotate {
  0% {transform: rotate(-45deg);}
  100% {transform: rotate(135deg);}
}


@keyframes showfixed {
  0% {opacity: 0;}
  49.99% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 1;}
}
